// responsive for Desktop
@include desktop {
  body {
    font-size: 16px;

    // container
    .container {
      width: 80%;
      margin: 0 auto;
    }

    // hide mobile navigation
    .m__nav--menu,
    .m__nav--hover {
      display: none;
    }

    // hide class
    .hide {
      display: none;
    }

    // Desktop navigation
    .d__nav {
      height: 50px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      .d__nav--items {
        display: flex;
        align-items: center;
        list-style-type: none;
        li {
          cursor: pointer;
          padding: 5px 20px;
          display: inline-block;
          text-transform: uppercase;
          &:last-child {
            color: $white;
            padding: 5px 20px;
            border-radius: 5px;
            background-color: $Soft_Red;
          }
        }
      }
    }

    // Herobox Section
    .herobox {
      margin-top: 40px;
      display: flex;

      .hero_text--section {
        width: 50%;
        display: grid;
        align-items: center;
        .hero_text--paragraph {
          line-height: 1.5em;
          color: $Grayish_Blue;
        }
        .buttons {
          align-self: flex-end;
          input[type="button"]:first-child {
            @include button($Soft_Blue, none, 5px, 5px, 10px, $white);
            margin-right: 20px;
          }
          input[type="button"]:last-child {
            @include button($white, none, 5px, 5px, 10px, $Very_Dark_Blue);
            font-weight: 600;
            box-shadow: 0 4px 5px 1px #ddf;
          }
        }
      }
      .hero_image--section {
        width: 50%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
