@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #5368df;
  border-radius: 10px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 300px) and (max-width: 424px) {
  body {
    font-size: 16px;
  }
  body .m__nav--responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .hide {
    display: none;
  }
  body .m__nav--hover {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: none;
    background-color: rgba(37, 43, 70, 0.95);
  }
  body .m__nav--hover .m__nav--header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .m__nav--hover .m__nav--menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  body .m__nav--hover .m__nav--menu li {
    width: 200px;
    text-align: center;
    padding: 1em;
    width: 100%;
    letter-spacing: 3px;
    color: #9194a1;
    border-top: 0.1px solid #9194a1;
    text-transform: uppercase;
  }
  body .m__nav--hover .m__nav--menu li:last-child {
    padding: 5px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid #9194a1;
  }
  body .m__nav--hover .m__nav--menu li:last-child a {
    color: #9194a1;
    text-decoration: none;
  }
  body .m__nav--hover .m__nav--social-Links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .d__nav {
    display: none;
  }
  body .herobox {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .herobox .hero_text--section {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  body .herobox .hero_text--section h1 {
    text-align: center;
  }
  body .herobox .hero_text--section p {
    margin: 20px 0;
    text-align: center;
    line-height: 1.3em;
    color: #9194a1;
  }
  body .herobox .hero_text--section .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .herobox .hero_text--section .buttons input[type="button"]:first-child {
    background: #5368df;
    background-color: none;
    border: 5px;
    border-radius: 5px;
    padding: 10px;
    color: #f7f7f7;
  }
  body .herobox .hero_text--section .buttons input[type="button"]:last-child {
    background: #f7f7f7;
    background-color: none;
    border: 5px;
    border-radius: 5px;
    padding: 10px;
    color: #252b46;
    font-weight: 600;
    -webkit-box-shadow: 0 4px 5px 1px #ddf;
            box-shadow: 0 4px 5px 1px #ddf;
  }
  body .herobox .hero_image--section {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body .herobox .hero_image--section img {
    width: 100% !important;
    height: 100% !important;
  }
  body .features-section {
    margin-top: 40px;
  }
  body .features-section .features__section--header {
    text-align: center;
  }
  body .features-section .features__section--paragraph {
    margin: 20px 0;
    line-height: 1.3em;
    text-align: center;
    color: #9194a1;
  }
  body .features-section .features__section--nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .features-section .features__section--nav li {
    width: 100%;
    padding: 15px;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #9194a1;
  }
  body .features-section .features__section--nav li:first-child::after {
    bottom: 0;
    content: "";
    height: 3px;
    width: 150px;
    left: 26.5625%;
    position: absolute;
    background-color: #fa5757;
  }
  body .features-section .features__section--tabs {
    margin-top: 60px;
  }
  body .features-section .features__section--tab1 img,
  body .features-section .features__section--tab2 img,
  body .features-section .features__section--tab3 img {
    width: 100%;
    height: 100%;
  }
  body .features-section .features__section--tab1 .features__tab--content,
  body .features-section .features__section--tab2 .features__tab--content,
  body .features-section .features__section--tab3 .features__tab--content {
    margin-top: 30px;
  }
  body .features-section .features__section--tab1 .features__tab--content .features__tab1--header,
  body .features-section .features__section--tab1 .features__tab--content .features__tab2--header,
  body .features-section .features__section--tab1 .features__tab--content .features__tab3--header,
  body .features-section .features__section--tab2 .features__tab--content .features__tab1--header,
  body .features-section .features__section--tab2 .features__tab--content .features__tab2--header,
  body .features-section .features__section--tab2 .features__tab--content .features__tab3--header,
  body .features-section .features__section--tab3 .features__tab--content .features__tab1--header,
  body .features-section .features__section--tab3 .features__tab--content .features__tab2--header,
  body .features-section .features__section--tab3 .features__tab--content .features__tab3--header {
    text-align: center;
  }
  body .features-section .features__section--tab1 .features__tab--content .features__tab1--paragraph,
  body .features-section .features__section--tab1 .features__tab--content .features__tab2--paragraph,
  body .features-section .features__section--tab1 .features__tab--content .features__tab3--paragraph,
  body .features-section .features__section--tab2 .features__tab--content .features__tab1--paragraph,
  body .features-section .features__section--tab2 .features__tab--content .features__tab2--paragraph,
  body .features-section .features__section--tab2 .features__tab--content .features__tab3--paragraph,
  body .features-section .features__section--tab3 .features__tab--content .features__tab1--paragraph,
  body .features-section .features__section--tab3 .features__tab--content .features__tab2--paragraph,
  body .features-section .features__section--tab3 .features__tab--content .features__tab3--paragraph {
    margin: 15px 0;
    line-height: 1.3em;
    text-align: center;
    color: #9194a1;
  }
  body .features-section .features__section--tab1 .features__tab--content input[type="button"],
  body .features-section .features__section--tab2 .features__tab--content input[type="button"],
  body .features-section .features__section--tab3 .features__tab--content input[type="button"] {
    display: none;
    background: #5368df;
    background-color: none;
    border: 5px;
    border-radius: 5px;
    padding: 10px;
    color: #f7f7f7;
  }
  body .download-section {
    margin-top: 40px;
  }
  body .download__section--content {
    margin: 40px 0;
  }
  body .download__section--content .download__section--header {
    text-align: center;
  }
  body .download__section--content .download__section--paragraph {
    margin-top: 20px;
    line-height: 1.3em;
    text-align: center;
    color: #9194a1;
  }
  body .download__section--products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1000px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .download__section--products .download__chrome--card,
  body .download__section--products .download__firefox--card,
  body .download__section--products .download__opera--card {
    width: 200px;
    height: 300px;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 5px #ddd;
            box-shadow: 0 0 5px 5px #ddd;
  }
  body .download__section--products .download__chrome--card .chrome__img--logo,
  body .download__section--products .download__chrome--card .firefox__img--logo,
  body .download__section--products .download__chrome--card .opera__img--logo,
  body .download__section--products .download__firefox--card .chrome__img--logo,
  body .download__section--products .download__firefox--card .firefox__img--logo,
  body .download__section--products .download__firefox--card .opera__img--logo,
  body .download__section--products .download__opera--card .chrome__img--logo,
  body .download__section--products .download__opera--card .firefox__img--logo,
  body .download__section--products .download__opera--card .opera__img--logo {
    margin: 20px;
  }
  body .download__section--products .download__chrome--card .chrome__title--card,
  body .download__section--products .download__chrome--card .chrome__text--card {
    text-align: center;
  }
  body .download__section--products .download__chrome--card .chrome__text--card {
    line-height: 1.3em;
    margin: 15px 0 20px;
    color: #9194a1;
  }
  body .download__section--products .download__chrome--card .chrome__border--bg {
    width: 100%;
  }
  body .download__section--products .download__chrome--card input[type="button"] {
    margin: 10px;
    background: #5368df;
    background-color: none;
    border: 5px;
    border-radius: 5px;
    padding: 10px;
    color: #f7f7f7;
  }
  body .download__section--products .download__firefox--card .firefox__text--card {
    line-height: 1.3em;
    margin: 15px 0 20px;
    color: #9194a1;
  }
  body .download__section--products .download__firefox--card .firefox__border--bg {
    width: 100%;
  }
  body .download__section--products .download__firefox--card input[type="button"] {
    margin: 10px;
    background: #5368df;
    background-color: none;
    border: 5px;
    border-radius: 5px;
    padding: 10px;
    color: #f7f7f7;
  }
  body .download__section--products .download__opera--card .opera__text--card {
    line-height: 1.3em;
    margin: 15px 0 20px;
    color: #9194a1;
  }
  body .download__section--products .download__opera--card .opera__border--bg {
    width: 100%;
  }
  body .download__section--products .download__opera--card input[type="button"] {
    margin: 10px;
    background: #5368df;
    background-color: none;
    border: 5px;
    border-radius: 5px;
    padding: 10px;
    color: #f7f7f7;
  }
  body .faq-section {
    margin-top: 40px;
  }
  body .faq-section .faq__section--content {
    margin-bottom: 80px;
  }
  body .faq-section .faq__section--content .faq__section--title {
    margin: 0px auto 25px auto;
    text-align: center;
    width: 90%;
  }
  body .faq-section .faq__section--content .faq__section--paragraph {
    color: #9194a1;
    line-height: 1.6em;
    text-align: center;
  }
  body .faq-section .faq__section--q1,
  body .faq-section .faq__section--q2,
  body .faq-section .faq__section--q3,
  body .faq-section .faq__section--q4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  body .faq-section input[type="button"] {
    display: block;
    margin: 35px auto;
    background: #5368df;
    background-color: none;
    border: 5px;
    border-radius: 5px;
    padding: 15px 25px;
    color: #f7f7f7;
  }
  body .newsletter__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 300px;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #5368df;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .newsletter__section .container .newsletter__section--title {
    color: #f7f7f7;
    letter-spacing: 5px;
    font-size: 12px;
  }
  body .newsletter__section .container .newsletter__section--paragraph {
    color: #f7f7f7;
    font-weight: 400;
    margin: 20px 0;
  }
  body .newsletter__section .container input[type="text"] {
    outline: none;
    background-color: #f7f7f7;
    border: none;
    display: block;
    width: 100%;
    color: #9194a1;
    border-radius: 5px;
    padding: 15px 10px;
  }
  body .newsletter__section .container input[type="button"] {
    display: block;
    margin-top: 15px;
    width: 100%;
    font-weight: 600;
    background: #fa5757;
    background-color: none;
    border: 5px;
    border-radius: 5px;
    padding: 15px 10px;
    color: #f7f7f7;
  }
  body .footer__section {
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #252b46;
  }
  body .footer__section .container .footer__img--logo {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .footer__section .container .footer__section--ul {
    margin-bottom: 30px;
    color: #f7f7f7;
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
  }
  body .footer__section .container .footer__section--ul li {
    padding: 15px;
    font-weight: lighter !important;
  }
  body .footer__section .container .footer__social--links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .footer__section .attribution {
    font-size: 12px;
  }
  body .footer__section .attribution a {
    text-decoration: none;
    color: #3e52a3;
    font-style: italic !important;
  }
  body .footer__section .attribution em {
    color: #3e52a3;
    font-style: italic !important;
    font-size: 12px;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 425px) and (max-width: 1440px) {
  body .hide {
    display: none !important;
  }
  body .m__nav--menu,
  body .m__nav--hover {
    display: none;
  }
  body .d__nav {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .d__nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
  }
  body .d__nav a img {
    height: 100%;
    width: 100%;
  }
  body .d__nav ul {
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .d__nav ul li {
    text-transform: uppercase;
    padding: 5px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    list-style-type: none;
  }
  body .d__nav ul li:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    color: #fa5757;
    cursor: pointer;
  }
  body .d__nav ul li:last-child {
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    background: #fa5757;
    background-color: #fa5757;
    border: 2px solid #fa5757;
    border-radius: 5px;
    padding: 6px 20px;
    color: #f7f7f7;
    text-transform: uppercase;
    letter-spacing: 3px;
    -webkit-box-shadow: 0px 4px 5px #ddd;
            box-shadow: 0px 4px 5px #ddd;
  }
  body .d__nav ul li:last-child:hover {
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    background: none;
    background-color: #f7f7f7;
    border: 2px solid #fa5757;
    border-radius: 5px;
    padding: 6px 20px;
    color: #fa5757;
  }
  body .herobox {
    margin-top: 40px;
    display: -ms-grid;
    display: grid;
    grid-gap: 40px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  body .herobox .hero_text--section {
    -ms-grid-column: 1;
    grid-column: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .herobox .hero_text--section .hero_text--header {
    font-size: 3em;
    font-weight: 500;
    color: #252b46;
  }
  body .herobox .hero_text--section .hero_text--paragraph {
    color: #9194a1;
    line-height: 1.4em;
    margin: 30px 0 20px;
  }
  body .herobox .hero_text--section .buttons input[type="button"]:first-child {
    cursor: pointer;
    font-weight: 500;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: #5368df;
    background-color: none;
    border: 2px solid #5368df;
    border-radius: 5px;
    padding: 10px 20px;
    color: #f7f7f7;
    margin-right: 20px;
  }
  body .herobox .hero_text--section .buttons input[type="button"]:first-child:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: #f7f7f7;
    background-color: #f7f7f7;
    border: 2px solid #5368df;
    border-radius: 5px;
    padding: 10px 20px;
    color: #5368df;
  }
  body .herobox .hero_text--section .buttons input[type="button"]:last-child {
    cursor: pointer;
    font-weight: 500;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 4px 5px 1px #ddf;
            box-shadow: 0 4px 5px 1px #ddf;
    background: #f7f7f7;
    background-color: none;
    border: 2px solid #f7f7f7;
    border-radius: 5px;
    padding: 10px 20px;
    color: #252b46;
  }
  body .herobox .hero_text--section .buttons input[type="button"]:last-child:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: #f7f7f7;
    background-color: #f7f7f7;
    border: 2px solid #252b46;
    border-radius: 5px;
    padding: 10px 20px;
    color: #252b46;
  }
  body .herobox .hero_image--section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  body .herobox .hero_image--section img {
    height: 100%;
    width: 100%;
  }
  body .features-section {
    margin-top: 40px;
  }
  body .features-section .features__section--header,
  body .features-section .features__section--paragraph {
    text-align: center;
  }
  body .features-section .features__section--paragraph {
    color: #9194a1;
    margin-top: 20px;
    line-height: 1.4em;
  }
  body .features-section .features__section--navigation .features__section--nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 50px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .features-section .features__section--navigation .features__section--nav li {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
  }
  body .features-section .features__section--navigation .features__section--nav li:hover {
    color: #fa5757;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  body .features-section .features__section--tabs .features__section--tab1,
  body .features-section .features__section--tabs .features__section--tab2,
  body .features-section .features__section--tabs .features__section--tab3 {
    display: -ms-grid;
    display: grid;
    grid-gap: 90px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  body .features-section .features__section--tabs .features__section--tab1 .feat__tab1--img img,
  body .features-section .features__section--tabs .features__section--tab1 .feat__tab2--img img,
  body .features-section .features__section--tabs .features__section--tab1 .feat__tab3--img img,
  body .features-section .features__section--tabs .features__section--tab2 .feat__tab1--img img,
  body .features-section .features__section--tabs .features__section--tab2 .feat__tab2--img img,
  body .features-section .features__section--tabs .features__section--tab2 .feat__tab3--img img,
  body .features-section .features__section--tabs .features__section--tab3 .feat__tab1--img img,
  body .features-section .features__section--tabs .features__section--tab3 .feat__tab2--img img,
  body .features-section .features__section--tabs .features__section--tab3 .feat__tab3--img img {
    width: 100%;
    height: 100%;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  body .features-section .features__section--tabs .features__section--tab1 .features__tab--content,
  body .features-section .features__section--tabs .features__section--tab2 .features__tab--content,
  body .features-section .features__section--tabs .features__section--tab3 .features__tab--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .features-section .features__section--tabs .features__section--tab1 .features__tab--content .features__tab1--header,
  body .features-section .features__section--tabs .features__section--tab1 .features__tab--content .features__tab2--header,
  body .features-section .features__section--tabs .features__section--tab1 .features__tab--content .features__tab3--header,
  body .features-section .features__section--tabs .features__section--tab2 .features__tab--content .features__tab1--header,
  body .features-section .features__section--tabs .features__section--tab2 .features__tab--content .features__tab2--header,
  body .features-section .features__section--tabs .features__section--tab2 .features__tab--content .features__tab3--header,
  body .features-section .features__section--tabs .features__section--tab3 .features__tab--content .features__tab1--header,
  body .features-section .features__section--tabs .features__section--tab3 .features__tab--content .features__tab2--header,
  body .features-section .features__section--tabs .features__section--tab3 .features__tab--content .features__tab3--header {
    margin-bottom: 20px;
  }
  body .features-section .features__section--tabs .features__section--tab1 .features__tab--content .features__tab1--paragraph,
  body .features-section .features__section--tabs .features__section--tab1 .features__tab--content .features__tab2--paragraph,
  body .features-section .features__section--tabs .features__section--tab1 .features__tab--content .features__tab3--paragraph,
  body .features-section .features__section--tabs .features__section--tab2 .features__tab--content .features__tab1--paragraph,
  body .features-section .features__section--tabs .features__section--tab2 .features__tab--content .features__tab2--paragraph,
  body .features-section .features__section--tabs .features__section--tab2 .features__tab--content .features__tab3--paragraph,
  body .features-section .features__section--tabs .features__section--tab3 .features__tab--content .features__tab1--paragraph,
  body .features-section .features__section--tabs .features__section--tab3 .features__tab--content .features__tab2--paragraph,
  body .features-section .features__section--tabs .features__section--tab3 .features__tab--content .features__tab3--paragraph {
    color: #9194a1;
    margin-bottom: 20px;
    line-height: 1.8em;
  }
  body .features-section .features__section--tabs .features__section--tab1 .features__tab--content .features__tab1--button input[type="button"],
  body .features-section .features__section--tabs .features__section--tab1 .features__tab--content .features__tab2--button input[type="button"],
  body .features-section .features__section--tabs .features__section--tab1 .features__tab--content .features__tab3--button input[type="button"],
  body .features-section .features__section--tabs .features__section--tab2 .features__tab--content .features__tab1--button input[type="button"],
  body .features-section .features__section--tabs .features__section--tab2 .features__tab--content .features__tab2--button input[type="button"],
  body .features-section .features__section--tabs .features__section--tab2 .features__tab--content .features__tab3--button input[type="button"],
  body .features-section .features__section--tabs .features__section--tab3 .features__tab--content .features__tab1--button input[type="button"],
  body .features-section .features__section--tabs .features__section--tab3 .features__tab--content .features__tab2--button input[type="button"],
  body .features-section .features__section--tabs .features__section--tab3 .features__tab--content .features__tab3--button input[type="button"] {
    background: #5368df;
    background-color: none;
    border: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    color: #f7f7f7;
    margin-right: 20px;
  }
  body .download-section {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .download-section .download__section--content .download__section--header {
    margin-bottom: 20px;
    text-align: center;
  }
  body .download-section .download__section--content .download__section--paragraph {
    color: #9194a1;
    text-align: center;
    line-height: 1.5em;
  }
  body .download-section .download__section--products {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 500px;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .download-section .download__section--products .download__chrome--card,
  body .download-section .download__section--products .download__firefox--card,
  body .download-section .download__section--products .download__opera--card {
    width: 200px;
    height: 300px;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 5px #ddd;
            box-shadow: 0 0 5px 5px #ddd;
  }
  body .download-section .download__section--products .download__chrome--card .chrome__img--logo,
  body .download-section .download__section--products .download__chrome--card .firefox__img--logo,
  body .download-section .download__section--products .download__chrome--card .opera__img--logo,
  body .download-section .download__section--products .download__firefox--card .chrome__img--logo,
  body .download-section .download__section--products .download__firefox--card .firefox__img--logo,
  body .download-section .download__section--products .download__firefox--card .opera__img--logo,
  body .download-section .download__section--products .download__opera--card .chrome__img--logo,
  body .download-section .download__section--products .download__opera--card .firefox__img--logo,
  body .download-section .download__section--products .download__opera--card .opera__img--logo {
    margin: 20px;
  }
  body .download-section .download__section--products .download__chrome--card {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  body .download-section .download__section--products .download__chrome--card .chrome__title--card,
  body .download-section .download__section--products .download__chrome--card .chrome__text--card {
    text-align: center;
  }
  body .download-section .download__section--products .download__chrome--card .chrome__text--card {
    line-height: 1.3em;
    margin: 15px 0 20px;
    color: #9194a1;
  }
  body .download-section .download__section--products .download__chrome--card .chrome__border--bg {
    width: 100%;
  }
  body .download-section .download__section--products .download__chrome--card input[type="button"] {
    margin: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: #f7f7f7;
    background-color: #5368df;
    border: 2px solid #5368df;
    border-radius: 5px;
    padding: 10px;
    color: #f7f7f7;
  }
  body .download-section .download__section--products .download__chrome--card input[type="button"]:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    background: #f7f7f7;
    background-color: #f7f7f7;
    border: 2px solid #5368df;
    border-radius: 5px;
    padding: 10px;
    color: #5368df;
  }
  body .download-section .download__section--products .download__firefox--card {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body .download-section .download__section--products .download__firefox--card .firefox__text--card {
    line-height: 1.3em;
    margin: 15px 0 20px;
    color: #9194a1;
  }
  body .download-section .download__section--products .download__firefox--card .firefox__border--bg {
    width: 100%;
  }
  body .download-section .download__section--products .download__firefox--card input[type="button"] {
    margin: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: #f7f7f7;
    background-color: #5368df;
    border: 2px solid #5368df;
    border-radius: 5px;
    padding: 10px;
    color: #f7f7f7;
  }
  body .download-section .download__section--products .download__firefox--card input[type="button"]:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    background: #f7f7f7;
    background-color: #f7f7f7;
    border: 2px solid #5368df;
    border-radius: 5px;
    padding: 10px;
    color: #5368df;
  }
  body .download-section .download__section--products .download__opera--card {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  body .download-section .download__section--products .download__opera--card .opera__text--card {
    line-height: 1.3em;
    margin: 15px 0 20px;
    color: #9194a1;
  }
  body .download-section .download__section--products .download__opera--card .opera__border--bg {
    width: 100%;
  }
  body .download-section .download__section--products .download__opera--card input[type="button"] {
    margin: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: #f7f7f7;
    background-color: #5368df;
    border: 2px solid #5368df;
    border-radius: 5px;
    padding: 10px;
    color: #f7f7f7;
  }
  body .download-section .download__section--products .download__opera--card input[type="button"]:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    background: #f7f7f7;
    background-color: #f7f7f7;
    border: 2px solid #5368df;
    border-radius: 5px;
    padding: 10px;
    color: #5368df;
  }
  body .faq-section {
    margin-top: 100px;
  }
  body .faq-section .faq__section--header .faq__section--title {
    text-align: center;
    margin-bottom: 20px;
  }
  body .faq-section .faq__section--header .faq__section--paragraph {
    color: #9194a1;
    line-height: 1.5em;
    text-align: center;
    margin-bottom: 50px;
  }
  body .faq-section .faq__questions {
    width: 40%;
    margin: 0 auto;
  }
  body .faq-section .question {
    margin: 10px 0;
    font-weight: bold;
    color: #252b46;
  }
  body .faq-section .question:hover {
    color: #fa5757;
    cursor: pointer;
  }
  body .faq-section .question img {
    float: right;
  }
  body .faq-section .answer {
    margin: 10px 0;
    color: #9194a1;
    line-height: 1.8em;
  }
  body .faq-section input[type="button"] {
    display: block;
    margin: 20px auto;
    background: #5368df;
    background-color: none;
    border: 5px;
    border-radius: 5px;
    padding: 10px;
    color: #f7f7f7;
  }
  body .newsletter__section {
    height: 300px;
    margin-top: 40px;
    background-color: #5368df;
  }
  body .newsletter__section .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .newsletter__section .container .newsletter__section--title,
  body .newsletter__section .container .newsletter__section--paragraph {
    text-align: center;
    color: #f7f7f7;
  }
  body .newsletter__section .container .newsletter__section--title {
    letter-spacing: 5px;
    font-size: 14px;
    text-transform: uppercase;
  }
  body .newsletter__section .container .newsletter__section--paragraph {
    font-size: 2em;
    font-weight: normal;
  }
  body .newsletter__section .container .newsletter__section--buttons input[type="text"] {
    outline: none;
    width: 200px;
    background: #f7f7f7;
    background-color: none;
    border: 5px;
    border-radius: 5px;
    padding: 12px;
    color: #9194a1;
  }
  body .newsletter__section .container .newsletter__section--buttons input[type="button"] {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: #fa5757;
    background-color: none;
    border: 2px solid #fa5757;
    border-radius: 5px;
    padding: 12px 20px;
    color: #f7f7f7;
    margin-left: 20px;
  }
  body .newsletter__section .container .newsletter__section--buttons input[type="button"]:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    background: #f7f7f7;
    background-color: none;
    border: 2px solid #fa5757;
    border-radius: 5px;
    padding: 12px 20px;
    color: #fa5757;
  }
  body .footer__section {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #252b46;
  }
  body .footer__section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .footer__section .container nav {
    width: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .footer__section .container nav ul {
    color: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
  }
  body .footer__section .container nav ul li {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-transform: uppercase;
  }
  body .footer__section .container nav ul li:hover {
    cursor: pointer;
    color: #fa5757;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  body .footer__section .container .footer__social--links img {
    margin: 10px;
  }
  body .footer__section .container .footer__social--links img:hover {
    cursor: pointer;
    color: #fa5757;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
/*# sourceMappingURL=styles.css.map */