// Importing fonts
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

// preset page styles
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  box-sizing: border-box;
}

// Theme main colors
$Soft_Red: hsl(0, 94%, 66%);
$Soft_Blue: hsl(231, 69%, 60%);
$Grayish_Blue: hsl(229, 8%, 60%);
$Very_Dark_Blue: hsl(229, 31%, 21%);
$light_dark_blue: hsl(228, 45%, 44%);
$white: #f7f7f7;

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: $Soft_Blue;
  border-radius: 10px;
}
// Importing responsive styles
@import "mixins", "mobile", "desktop";
