// Importing fonts
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

// Theme main colors
$Soft_Red: hsl(0, 94%, 66%);
$Soft_Blue: hsl(231, 69%, 60%);
$Grayish_Blue: hsl(229, 8%, 60%);
$Very_Dark_Blue: hsl(229, 31%, 21%);
$light_dark_blue: hsl(228, 45%, 44%);
$white: #f7f7f7;

// preset page styles
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  box-sizing: border-box;
}

// Responsive for phone
@mixin phone_portrait {
  @media (min-width: 300px) and (max-width: 424px) {
    @content;
  }
}

// button mixins
@mixin button(
  $background,
  $backgroundcolor,
  $border,
  $borderRadius,
  $padding,
  $color
) {
  background-color: $backgroundcolor;
  border-radius: $borderRadius;
  background: $background;
  padding: $padding;
  border: $border;
  color: $color;
}

@include phone_portrait {
  body {
    font-size: 16px;

    // container
    .container {
      width: 80%;
      margin: 0 auto;
    }

    // Mobile responsive navigation
    .m__nav--responsive {
      display: flex;
      margin-top: 20px;
      align-items: center;
      list-style-type: none;
      justify-content: space-between;
    }

    // hidden desktop navigation
    .hide {
      display: none;
    }

    // mobile navigation hover
    .m__nav--hover {
      position: absolute;
      height: 100vh;
      width: 100%;
      display: none; //display grid to appear
      background-color: rgba(37, 43, 70, 0.95);
      .m__nav--header {
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: space-between;
      }
      .m__nav--menu {
        display: flex;
        align-items: center;
        list-style-type: none;
        flex-direction: column;
        justify-content: start;
        li {
          width: 200px;
          text-align: center;
          padding: 1em;
          width: 100%;
          letter-spacing: 3px;
          color: $Grayish_Blue;
          border-top: 0.1px solid $Grayish_Blue;
          text-transform: uppercase;
          &:last-child {
            padding: 5px;
            font-weight: 600;
            border-radius: 5px;
            border: 2px solid $Grayish_Blue;
            a {
              color: $Grayish_Blue;
              text-decoration: none;
            }
          }
        }
      }
      .m__nav--social-Links {
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: space-evenly;
      }
    }

    // Herobox section
    .herobox {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      .hero_text--section {
        order: 2;
        h1 {
          text-align: center;
        }
        p {
          margin: 20px 0;
          text-align: center;
          line-height: 1.3em;
          color: $Grayish_Blue;
        }
        .buttons {
          display: flex;
          justify-content: space-evenly;
          input[type="button"]:first-child {
            @include button($Soft_Blue, none, 5px, 5px, 10px, $white);
          }
          input[type="button"]:last-child {
            @include button($white, none, 5px, 5px, 10px, $Very_Dark_Blue);
            font-weight: 600;
            box-shadow: 0 4px 5px 1px #ddf;
          }
        }
      }
      .hero_image--section {
        order: 1;
        img {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }

    // Features section
    .features-section {
      margin-top: 40px;
      .features__section--header {
        text-align: center;
      }
      .features__section--paragraph {
        margin: 20px 0;
        line-height: 1.3em;
        text-align: center;
        color: $Grayish_Blue;
      }
      .features__section--nav {
        display: flex;
        align-items: center;
        list-style-type: none;
        flex-direction: column;
        li {
          width: 100%;
          padding: 15px;
          position: relative;
          text-align: center;
          border-bottom: 1px solid $Grayish_Blue;
          &:first-child::after {
            bottom: 0;
            content: "";
            height: 3px;
            width: 150px;
            left: (26.5625%);
            position: absolute;
            background-color: $Soft_Red;
          }
        }
      }
      .features__section--tabs {
        margin-top: 60px;
      }
      .features__section--tab1,
      .features__section--tab2,
      .features__section--tab3 {
        img {
          width: 100%;
          height: 100%;
        }
      }
      .features__section--tab1,
      .features__section--tab2,
      .features__section--tab3 {
        .features__tab--content {
          margin-top: 30px;
          .features__tab1--header,
          .features__tab2--header,
          .features__tab3--header {
            text-align: center;
          }
          .features__tab1--paragraph,
          .features__tab2--paragraph,
          .features__tab3--paragraph {
            margin: 15px 0;
            line-height: 1.3em;
            text-align: center;
            color: $Grayish_Blue;
          }
          // this button is hidden in mobile
          input[type="button"] {
            display: none;
            @include button($Soft_Blue, none, 5px, 5px, 10px, $white);
          }
        }
      }
    }

    // Download section
    .download-section {
      margin-top: 40px;
    }
    .download__section--content {
      margin: 40px 0;
      .download__section--header {
        text-align: center;
      }
      .download__section--paragraph {
        margin-top: 20px;
        line-height: 1.3em;
        text-align: center;
        color: $Grayish_Blue;
      }
    }
    .download__section--products {
      display: flex;
      height: 1000px;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      .download__chrome--card,
      .download__firefox--card,
      .download__opera--card {
        width: 200px;
        height: 300px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 0 5px 5px #ddd;
        .chrome__img--logo,
        .firefox__img--logo,
        .opera__img--logo {
          margin: 20px;
        }
      }
      .download__chrome--card {
        .chrome__title--card,
        .chrome__text--card {
          text-align: center;
        }
        .chrome__text--card {
          line-height: 1.3em;
          margin: 15px 0 20px;
          color: $Grayish_Blue;
        }
        .chrome__border--bg {
          width: 100%;
        }
        input[type="button"] {
          margin: 10px;
          @include button($Soft_Blue, none, 5px, 5px, 10px, $white);
        }
      }
      .download__firefox--card {
        .firefox__text--card {
          line-height: 1.3em;
          margin: 15px 0 20px;
          color: $Grayish_Blue;
        }
        .firefox__border--bg {
          width: 100%;
        }
        input[type="button"] {
          margin: 10px;
          @include button($Soft_Blue, none, 5px, 5px, 10px, $white);
        }
      }
      .download__opera--card {
        .opera__text--card {
          line-height: 1.3em;
          margin: 15px 0 20px;
          color: $Grayish_Blue;
        }
        .opera__border--bg {
          width: 100%;
        }
        input[type="button"] {
          margin: 10px;
          @include button($Soft_Blue, none, 5px, 5px, 10px, $white);
        }
      }
    }

    // FAQ section
    .faq-section {
      margin-top: 40px;
      .faq__section--content {
        margin-bottom: 80px;
        .faq__section--title {
          margin: 0px auto 25px auto;
          text-align: center;
          width: 90%;
        }
        .faq__section--paragraph {
          color: $Grayish_Blue;
          line-height: 1.6em;
          text-align: center;
        }
      }
      .faq__section--q1,
      .faq__section--q2,
      .faq__section--q3,
      .faq__section--q4 {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
      input[type="button"] {
        display: block;
        margin: 35px auto;
        @include button($Soft_Blue, none, 5px, 5px, 15px 25px, $white);
      }
    }

    // Newsletter section
    .newsletter__section {
      display: flex;
      height: 300px;
      text-align: center;
      flex-direction: column;
      background-color: $Soft_Blue;
      justify-content: space-around;
      .container {
        .newsletter__section--title,
        .newsletter__section--paragraph {
          color: $white;
          letter-spacing: 5px;
        }
        .newsletter__section--paragraph {
          color: $white;
          letter-spacing: 5px;
          font-size: 1.14em;
          margin: 20px 0;
        }
        input[type="text"] {
          outline: none;
          background-color: $white;
          border: none;
          display: block;
          width: 100%;
          color: $Grayish_Blue;
          border-radius: 5px;
          padding: 15px 10px;
        }
        input[type="button"] {
          display: block;
          margin-top: 15px;
          width: 100%;
          font-weight: 600;
          @include button($Soft_Red, none, 5px, 5px, 15px 10px, $white);
        }
      }
    }

    // Footer section
    .footer__section {
      height: 400px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      background-color: $Very_Dark_Blue;
      .container {
        .footer__img--logo {
          height: 100px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
        .footer__section--ul {
          margin-bottom: 30px;
          color: $white;
          text-align: center;
          list-style-type: none;
          text-transform: uppercase;
          li {
            padding: 15px;
            font-weight: lighter !important;
          }
        }
        .footer__social--links {
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-evenly;
        }
      }
      .attribution {
        font-size: 12px;
        a {
          text-decoration: none;
          color: $light_dark_blue;
          font-style: italic !important;
        }
        em {
          color: $light_dark_blue;
          font-style: italic !important;
        }
      }
    }
  }
}
